<!DOCTYPE <!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Learn angular.js</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="app.css">
  <!-- script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script -->
  <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body>

<div class="container row">
  
  <div ng-controller='ctrl' class="col-md-12">

    <div class="page-header">
      <h2>To-do list</h2>
    </div>

    <form ng-submit="addItem()" class="input-group" name="inputForm">
      <input type="text" ng-model="listItem" size="20" ng-minlength="5"
             name="toDoText" placeholder="Add ToDo" class="form-control" required 
             ng-focus="touchedTimes = touchedTimes + 1" ng-model="touchedTimes=0"/>

      <span class="input-group-btn">
        <input type="submit" value="Add" 
        ng-disabled="inputForm.toDoText.$error.required || inputForm.toDoText.$error.minlength" class="btn btn primary">
      </span>
    </form>

    <div has-error>
      <span class="error" ng-show="inputForm.toDoText.$error.minlength">
        Too short! (min length = 5)
      </span>

      <span class="error" ng-show="inputForm.toDoText.$error.required && inputForm.toDoText.$touched && touchedTimes > 0">
        You need to enter task first!
      </span>
    </div>

    <br>

    <div>
      <ul class="list-group">
        <div ng-repeat="x in listItems"  class="fullWidth input-group">
          <span class="input-group-addon">
            <input type="checkbox" ng-model="x.done">
          </span>
          <li class="list-group-item">
            <span ng-bind="x.toDoText"></span>
            <span class="badge">
              <a href="#" ng-click="deleteItem(item)" class="delBtn">
                Del
              </a>
            </span>
          </li>
        </div>
      </ul>
    </div>

    <button class="btn bnt-default" ng-click="deleteSel()">Delete selected</button>
    <button class="btn bnt-default" ng-click="selectAll()">Select all</button>
    <button class="btn bnt-default" ng-click="deselectAll()">Deselect all</button>

  </div>

</div>

</body>
</html>